<MudItem xs="3">
    <MudCard Style="padding: 4px;">
        <MudText Typo="Typo.caption">
            <MudIcon Size="Size.Small" Icon="@Icons.Material.Outlined.EnergySavingsLeaf"
                     Style="vertical-align: middle;"/>
            <span style="color: slategrey;font-size: 0.7rem">Daily</span>
        </MudText>
        <MudText Align="Align.Center">
            <MudText>
                @(Calculations.KilowattConsumptionPerDay(Appliance))
                <span style="font-size: 0.8rem; color: slategrey;">kWh</span>
            </MudText>
            <MudText>
                @(Calculations.CostPerDay(Appliance, Price))
                <span style="font-size: 0.8rem; color: slategrey;">€</span>
            </MudText>
        </MudText>
    </MudCard>
</MudItem>

<MudItem xs="3">
    <MudCard Style="padding: 4px;">
        <MudText Typo="Typo.caption">
            <MudIcon Size="Size.Small" Icon="@Icons.Material.Outlined.EnergySavingsLeaf"
                     Style="vertical-align: middle;"/>
            <span style="color: slategrey; font-size: 0.7rem">Weekly</span>
        </MudText>
        <MudText Align="Align.Center">
            <MudText>
                @(Calculations.KilowattConsumptionPerWeek(Appliance))
                <span style="font-size: 0.8rem; color: slategrey;">kWh</span>
            </MudText>
            <MudText>
                @(Calculations.CostPerWeek(Appliance, Price))
                <span style="font-size: 0.8rem; color: slategrey;">€</span>
            </MudText>
        </MudText>
    </MudCard>
</MudItem>

<MudItem xs="3">
    <MudCard Style="padding: 4px;">
        <MudText Typo="Typo.caption">
            <MudIcon Size="Size.Small" Icon="@Icons.Material.Outlined.EnergySavingsLeaf"
                     Style="vertical-align: middle;"/>
            <span style="color: slategrey;font-size: 0.7rem">Monthly</span>
        </MudText>
        <MudText Align="Align.Center">
            <MudText>
                @(Calculations.KilowattConsumptionPerMonth(Appliance))
                <span style="font-size: 0.8rem; color: slategrey;">kWh</span>
            </MudText>
            <MudText>
                @(Calculations.CostPerMonth(Appliance, Price))
                <span style="font-size: 0.8rem; color: slategrey;">€</span>
            </MudText>
        </MudText>
    </MudCard>
</MudItem>

<MudItem xs="3">
    <MudCard Style="padding: 4px;">
        <MudText Typo="Typo.caption">
            <MudIcon Size="Size.Small" Icon="@Icons.Material.Outlined.EnergySavingsLeaf"
                     Style="vertical-align: middle;"/>
            <span style="color: slategrey;font-size: 0.7rem">Yearly</span>
        </MudText>
        <MudText Align="Align.Center">
            <MudText>
                @(Calculations.KilowattConsumptionPerYear(Appliance))
                <span style="font-size: 0.8rem; color: slategrey;">kWh</span>
            </MudText>
            <MudText>
                @(Calculations.CostPerYear(Appliance, Price))
                <span style="font-size: 0.8rem; color: slategrey;">€</span>
            </MudText>
        </MudText>
    </MudCard>
</MudItem>

@code 
{
    [Parameter] public Appliance Appliance { get; set; } = default!;
    [Parameter] public Price Price { get; set; } = default!;
}